<!DOCTYPE html>
<html lang="en">
<style>
    body{
        background-color:burlywood;
    }
</style>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>

   <center> <h1 style="color: cadetblue;">REGISTER FORM</h1> </center>
    <form method="POST">
        {% csrf_token %}
        <center>{{form|linebreaks}}</center>
        <center><input type="submit" /></center>
    </form>
</body>

</html>